<div class="d-flex align-items-center loginInner">
    <div class="col-sm-4 text-center">
        <img src="assets/img/trust-logo.png" alt="">
        <p>Health Plan Membership Portal</p>
    </div>
    <div class="col-sm-8 rightSec">
        <h1>Welcome to the HSBC Health Plan enrolment page,
            administered by TrustInHealth.</h1>
  
        <p>To login, please ensure you have your unique membership number or your employee number
            to hand. If you have not received this, please contact your scheme administrator.</p>
  
        <p class="mt-4 mb-3">Login to Membership site</p>
            
        <mat-tab-group>
            <mat-tab label="1. Identify">
              <p class="mt-3">Enter your membership information to continue</p>
  
              <div class="col-sm-6 p-0">
                <section class="">
                    I have
                    <mat-checkbox class="mr-3">Membership Number </mat-checkbox>
                    <mat-checkbox class="mr-3">Employee ID</mat-checkbox>
                </section>
  
                <div class="form-group">
                  <div class="inputWrap">
                    <label class="d-block">Membership Number</label>
                    <input type="text" class="form-control" autocomplete="username" />
                    <mat-icon matSuffix>login</mat-icon>
                  </div>
                  <div class="inputWrap">
                    <label class="d-block">Date Of Birth</label>
                    <input matInput [matDatepicker]="picker" class="form-control">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </div>
                </div>
  
                <div class="d-flex">
                  <button class="btn btn-primary pink ml-auto" (click)="upcomingAppointments()" type="submit">Next</button>
                </div>
              </div>
            </mat-tab>
            <mat-tab  disabled class="dasabledLine" label="-------"></mat-tab>
            <mat-tab label="2. Verify">
  
              <p class="mt-3">Please enter the one-time password we have sent to your registered mobile
                number ending in 3245</p>
  
              <div class="col-sm-6 p-0">
                <div class="form-group">
                  <div class="inputWrap otpFeild">
                    <label class="d-block">One Time Password</label>
                    <input type="text" class="form-control" autocomplete="otp" />
                  </div>
                  <p class="text-right">If you didn’t receive a code, <a href="#" class="pinklink">resend</a></p>
                </div>
  
                <div class="d-flex">
                  <button class="btn btn-primary pink ml-auto" type="submit">Verify</button>
                </div>
              </div>
            </mat-tab>
        </mat-tab-group>
    </div>
  </div>