<p class="mb-2">Sort By: distance</p>
<button class="btn btn-primary mb-1">Show all search filters</button>

<div class="specilityRow">
    <div class="row p0">
        <div class="col-sm-3">
            <figure>
                <img src="http://placehold.it/200" alt="">
                <figcaption>Dr. Sarah Jones</figcaption>
            </figure>
        </div>
        <div class="col-sm-9">
            <p class="mb-3 d-flex align-items-center">
                SPECIALTY: cardiology
                <button class="btn btn-primary ml-auto">Select</button>
            </p>
            <p>TREATMENT LOCATION:</p>
            <p class="mb-3">Abbey Park HospitalLocal care, Central London</p>

            <p>LATEST AVAILABLE DATE & TIME:</p>
            <p class="pinkText mb-2">Friday12th June 2021 10:30 AM to 11:15 AM</p>
            <p><a href="" class="underline">View all available slots</a></p>
        </div>
    </div>
</div>

<div class="specilityRow">
    <div class="row p0">
        <div class="col-sm-3">
            <figure>
                <img src="http://placehold.it/200" alt="">
                <figcaption>Dr. Sarah Jones</figcaption>
            </figure>
        </div>
        <div class="col-sm-9">
            <p class="mb-3 d-flex align-items-center">
                SPECIALTY: cardiology
                <button class="btn btn-primary ml-auto">Select</button>
            </p>
            <p>TREATMENT LOCATION:</p>
            <p class="mb-3">Abbey Park HospitalLocal care, Central London</p>

            <p>LATEST AVAILABLE DATE & TIME:</p>
            <p class="pinkText mb-2">Friday12th June 2021 10:30 AM to 11:15 AM</p>
            <p><a href="" class="underline">View all available slots</a></p>
        </div>
    </div>
</div>