@import '../../../variables.scss';

.rightSec {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    color: #5D5D5D;
    display: flex;
    align-items: center;
    justify-content: end;

    a {
        border-right: solid 1px #b5adad;
        padding: 0 20px 0 0;
        margin: 0 20px 0 0;
    }

    img {
        height: 20px;
        margin: 0 10px 0 0;
    }

    .small {
        line-height: 10px;
        font-size: 14px;

        i {
            font-size: 20px;
            vertical-align: middle;
            margin: 0 13px 0 0;
        }
    }
}

.loginBtn {
    margin: 0 auto 0 0;
}

mat-toolbar {
    min-height: 70px;
    background: #fff;
    color: #999;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    display: flex;
    align-items: center;
}

mat-sidenav {
    box-shadow: none;
    border: 0;
    background: none;
    width: 18vw;
}

.leftmenu {
    text-align: right;
    list-style: none;
    margin: 40px 0 0;
    padding: 0;
    float: right;
    
    a {
        text-decoration: none;
        color: #444;
        font-weight: 500;
        text-transform: capitalize;
        display: block;
        padding: 10px;

        &.active {
            border-left: solid 2px $primary;
        }
    }
}

.content {
    height: calc(100vh - 20vh);
    margin: 0;
    box-shadow: none;
}

mat-sidenav-container {
    background: $main-bg;
    height: 80vh;
}

.mat-drawer-content {
    padding: 0 0 0 50px;
}

.headerLogo {
    height: 60px;
}

app-footer {
    height: 10vh;
}

a {
    color: inherit;
}

.notificationSec {
    margin: 0 30px 0 0;
    padding: 0 30px 0 0;
    border-right: solid 2px #c6c6c6;
    position: relative;
    cursor: pointer;

    ul {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        background: #fff;
        width: 300px;
        box-shadow: 0 0 10px rgb(0 0 0 / 6%);
        list-style: none;
        display: none;

        li {
            width: 100%;
            border-bottom: solid 1px #f6f7f9;
            padding: 8px 20px;
            font-weight: 400;
            font-size: 14px;
            text-align: left;
            white-space: initial;

            &:hover {
                background: #f6f7f9;
            }
        }
    }

    &:hover {
        ul {
            display: block;
        }
    }

    .heading {
        width: 100%;
        border-bottom: solid 1px #f6f7f9;
        padding: 8px 20px;
        font-weight: 600 !important;
        font-size: 18px !important;
        text-align: left;
        white-space: initial;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .badge {
        background: $primary;
        border-radius: 50%;
        color: #fff;
        width: 20px;
        height: 20px;
        line-height: 15px;
    }
}

.ProfileSec {
    padding: 0;
    border-right: 0;

    ul {
        width: 150px;
    }
}