<div class="timelineSec">
    <div class="timelineThumb active">
        <div class="timelineHeading">Request Type</div>
        <p>Practitioner Referred Initial Consultation and Diagnostics</p>
    </div>
    <div class="timelineThumb active">
        <div class="timelineHeading">Specialty</div>
        <p>Cardiology</p>
    </div>
    <div class="timelineThumb">
        <div class="timelineHeading">Provider</div>
        <p>Physiotherapy</p>
    </div>
    <div class="timelineThumb">
        <div class="timelineHeading">Appointment</div>
        <p>Physiotherapy</p>
    </div>
</div>