.bannerBoxWrap {
    background: url("../../../assets/img/banner.png");
    background-size: cover;
    background-position: center;
    padding: 40px 0 60px;
    margin: 0 0 70px;
}
.bannerBox {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    display: inline-block;
    max-width: 500px;
    width: 100%;
}
.bannerBox_heading {
    background: #fc5960;
    padding: 20px 40px 20px;
    color: #fff;
    margin: 0;
    font-weight: 600;
}
.bannerBox_inner {
    padding: 40px 40px 20px;
}
.threeBoxSec {
    margin: 0 0 60px;
}
.requestBox {
    height: 100%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    color: #666;
    
    .btn {
        position: static;
    }
}
.requestBox_heading {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;
    color: #FC5960;
}

.bgBox {
    text-align: center;
    background: url("../../../assets/img/thumb-bg.png");
    background-size: cover;
    background-position: center;
    padding: 40px 30px;
    border-radius: 10px;
    color: #666;
    box-shadow: 0 0 4px rgb(0 0 0 / 11%);

    .btn {
        margin: 0 0 10px;
    }
}

.thumbnailsHomeWrap {
    margin: 0 0 30px;
}

.thumbnailsHome_inner {
    padding: 0 30px 40px;
}

.thumbnailsHome_heading {
    font-size: 20px;
    margin: 0 0 20px;
    color: #444;
    font-weight: 600;
}
.thumbnailsHome {
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    height: 100%;
    transition: all ease .2s;

    &:hover {
        box-shadow: 0px 0px 50px #00000012;
    }

    figure {
        margin: 0 0 30px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    p {
        margin: 0 0 30px;
    }
}