<app-header></app-header>

<section class="bannerBoxWrap">
    <div class="container">
        <div class="row">
            <div class="bannerBox">
                <div class="bannerBox_heading">Corporate Health Care</div>
                <div class="bannerBox_inner">
                    <div class="row mb-3">
                        <div class="col-sm-6 strong">Member ID:</div>
                        <div class="col-sm-6">7828338273</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6 strong">Health Plan (604321):</div>
                        <div class="col-sm-6">904-33045-03</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6 strong">Group Number:</div>
                        <div class="col-sm-6">100293</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-6 strong">Member:</div>
                        <div class="col-sm-6">Hans Lundstrom</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <section class="threeBoxSec">
            <div class="row justify-content-between">
                <div class="col-sm-6">
                    <div class="requestBox">
                        <div class="requestBox_heading">Request Authorisation for Benefit</div>
                        <p>Request authorisation for a consultation, diagnostics or treatment quickly and easily by opening a new case or managing an existing case</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bgBox">
                        <a routerLink="/create-new-case" class="btn btn-primary">
                            <img src="assets/img/create-new-case-icon.svg" alt="">
                            Create a new case
                        </a>
                        <p>Open a new case and request authorisation for a consultation, diagnostics or treatment</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bgBox">
                        <a routerLink="/manage-cases" class="btn btn-primary">
                            <img src="assets/img/create-new-case-icon.svg" alt="">
                            Manage my case
                        </a>
                        <p>Review your open and past cases and request authorisation for additional treatment</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="thumbnailsHomeWrap">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnailsHome">
                        <figure>
                            <img src="assets/img/maskGroup2.png" alt="">
                        </figure>
                        <div class="thumbnailsHome_inner">
                            <div class="thumbnailsHome_heading">Conditions and Treatments</div>
                            <p>conditions and treatments covered as part of your membership scheme</p>
                            <a href="#" class="btn btn-primary"><img src="assets/img/arrow-icon.svg" class="mr-2" alt=""> Search Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnailsHome">
                        <figure>
                            <img src="assets/img/maskGroup3.png" alt="">
                        </figure>
                        <div class="thumbnailsHome_inner">
                            <div class="thumbnailsHome_heading">Conditions and Treatments</div>
                            <p>Search for network diagnostics and tests covered in your membership scheme</p>
                            <a href="#" class="btn btn-primary"><img src="assets/img/arrow-icon.svg" class="mr-2" alt=""> Search Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbnailsHome">
                        <figure>
                            <img src="assets/img/maskGroup1.png" alt="">
                        </figure>
                        <div class="thumbnailsHome_inner">
                            <div class="thumbnailsHome_heading">Provider network</div>
                            <p>Search for network of providers as part of your membership scheme.</p>
                            <a href="#" class="btn btn-primary"><img src="assets/img/arrow-icon.svg" class="mr-2" alt=""> Search Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>