<app-header></app-header>

<section class="container">
    <div class="row">
        <div class="breadcrumb">
            <i class="fa fa-home"></i>
            Case / <u>details</u>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="row justify-content-between align-items-end mb-3">
                <div class="col-sm-4 borderLeft-pink">
                    <p class="mb-3"><span class="pinkText">Case Number: 10223243</span> ( 1A00RN Shoulder injury )</p>
                    <p>Condition Type: Orthopedic</p>
                    <p>Description: Persistent swelling and soreness of left ..</p>
                    <p>Provider: Nuffield Health Hospital, Leicester, UK</p>
                </div>

                <div class="col-sm-5 d-flex flex-column align-items-end text-right pr-0">
                    <button class="btn btn-primary mb-3" (click)="details()">
                        <i class="fa fa-heart"></i> New Benefit Request
                    </button>
                    <p>
                        <span class="pinkText mr-3">Benefit Requests:</span>
                        <span>Open –0 | Waiting for approval –0 | Close -3</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="benifitRequestCard">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3">Benefit Request number 1022934 </div>
                        <div class="">
                            <span class="mr-4">STATUS: Approved</span>
                            <span class="mr-4">|</span>
                            <span>REQUESTED DATE: 12 - APRIL -2021</span>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="pinkLabel" for="">BX0220</label>
                        <span>Condition name and description are displayed heres</span>
                    </div>
                    <div class="mb-2">
                        <label class="pinkLabel" for="">BX0220</label>
                        <span>Service name and description are displayed here</span>
                    </div>

                    <div class="element-header mt-4">
                        <div class="pb-1 justify-content-between">
                            <span class="mr-auto">
                                Appointment Details
                            </span>
                        </div>
                    </div>

                    <p>PRACTITIONER: Dr. Sarah Jones</p>
                    <p>SPECIALTY: cardiology</p>
                    <p>TREATMENT LOCATION: Abbey Park HospitalLocal care, Central London</p>
                    <p>APPOINTMENT DATE TIME: Friday 12th June 2021 10:30 AM to 11:15 AM</p>
                </div>
                <div class="benifitRequestCard">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3">Benefit Request number 1022934 </div>
                        <div class="">
                            <span class="mr-4">STATUS: Approved</span>
                            <span class="mr-4">|</span>
                            <span>REQUESTED DATE: 12 - APRIL -2021</span>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="pinkLabel" for="">BX0220</label>
                        <span>Condition name and description are displayed heres</span>
                    </div>
                    <div class="mb-2">
                        <label class="pinkLabel" for="">BX0220</label>
                        <span>Service name and description are displayed here</span>
                    </div>

                    <div class="element-header mt-4">
                        <div class="pb-1 justify-content-between">
                            <span class="mr-auto">
                                Appointment Details
                            </span>
                        </div>
                    </div>

                    <p>PRACTITIONER: Dr. Sarah Jones</p>
                    <p>SPECIALTY: cardiology</p>
                    <p>TREATMENT LOCATION: Abbey Park HospitalLocal care, Central London</p>
                    <p>APPOINTMENT DATE TIME: Friday 12th June 2021 10:30 AM to 11:15 AM</p>
                </div>
            </div>
        </div>
    </div>
</section>