<app-header></app-header>

<div class="container">
    <section class="innerBanner">
        <div class="bannerBox">
            <div class="col-sm-6">
                <div class="heading">Manage Cases</div>
                <p class="breadcrumb">home > <a href="#">manage cases</a></p>
            </div>

            <div class="col-sm-5">
                <a routerLink="/create-new-case" class="btn btn-primary">
                    <img src="assets/img/create-new-case-icon.svg" alt="">
                    Create a new case
                </a>
                <p class="heading">Authorisation for a new consultation, procedure or diagnostic</p>
            </div>
        </div>
    </section>

    <section class="thumbnailsInnerWrap">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnailsInner">
                    <div class="head">
                        <div class="id">ID: 10223944856</div>
                        <div class="statusRight">
                            <p>
                                <span class="statusborder">Date: <span class="status">10th Sep 2021</span></span>
                                <span>Status: <span class="status">Active</span></span>
                            </p>
                            <div class="requestBtn">REQUEST NEW BENEFIT</div>
                        </div>
                    </div>

                    <p class="descriptionPara"><strong>Request Type:</strong> Initial Consultation</p>
                    <p><strong>Provider</strong></p>
                    <p>Dr Sarah Jones</p>
                    <p><strong>Specialty:</strong> Cardiology Treatment</p>
                    <p><strong>Location:</strong> Chase Farm Hospital - Enfield 23rd Friday, August – 2021</p>
                    <p>10:30 AM – 11:15 AM</p>
                    <a href="#" class="btn btn-primary">
                        <img src="assets/img/arrow-icon.svg" alt="">
                        CONFIRM APPOINTMENT ATTENDANCE
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnailsInner closed">
                    <div class="head">
                        <div class="id">ID: 10223944856</div>
                        <div class="statusRight">
                            <p>
                                <span class="statusborder">Date: <span class="status">10th Sep 2021</span></span>
                                <span>Status: <span class="status">Closed</span></span>
                            </p>
                            <div class="requestBtn">REQUEST NEW BENEFIT</div>
                        </div>
                    </div>

                    <p class="descriptionPara"><strong>Request Type:</strong> Procedure / ENT</p>
                    <p><strong>Provider</strong></p>
                    <p>Dr Sarah Jones</p>
                    <p><strong>Specialty:</strong> Cardiology Treatment</p>
                    <p><strong>Location:</strong> Chase Farm Hospital - Enfield 23rd Friday, August – 2021</p>
                    <p>10:30 AM – 11:15 AM</p>
                    <a href="#" class="btn btn-primary">
                        <img src="assets/img/arrow-icon.svg" alt="">
                        CONFIRM APPOINTMENT ATTENDANCE
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnailsInner closed">
                    <div class="head">
                        <div class="id">ID: 10223944856</div>
                        <div class="statusRight">
                            <p>
                                <span class="statusborder">Date: <span class="status">10th Sep 2021</span></span>
                                <span>Status: <span class="status">Closed</span></span>
                            </p>
                            <div class="requestBtn">REQUEST NEW BENEFIT</div>
                        </div>
                    </div>

                    <p class="descriptionPara"><strong>Request Type:</strong> Procedure / Orthopaedics</p>
                    <p><strong>Provider</strong></p>
                    <p>Dr Sarah Jones</p>
                    <p><strong>Specialty:</strong> Cardiology Treatment</p>
                    <p><strong>Location:</strong> Chase Farm Hospital - Enfield 23rd Friday, August – 2021</p>
                    <p>10:30 AM – 11:15 AM</p>
                    <a href="#" class="btn btn-primary">
                        <img src="assets/img/arrow-icon.svg" alt="">
                        CONFIRM APPOINTMENT ATTENDANCE
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>