@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables.scss';

/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { height: 100%; scroll-behavior: smooth !important; }

body {
    background: url("../src/assets/img/bg-web.png") #F6F7F9 no-repeat;
    background-position: bottom left;
    background-attachment: fixed;
    margin: 0;
    color: #666;
    font-family: "Avenir Next W01", "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

strong, b, .strong, .bold {
    font-family: "Avenir Next W01", "Lato", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 600;
}

.container {
    max-width: 1600px;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0;
}

.btn-outline-custom-primary {
    border-color: $primary;
    color: $primary;
    font-size: 14px;

    &:hover {
        background: $primary;
        color: #fff;
    }
}

// ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
//   }
  
  
//   ::-webkit-scrollbar-track {
//       background: #eee;
//       border-radius: 20px;
//   }
  
//   ::-webkit-scrollbar-thumb {
//     background: $primary; 
//     border-radius: 10px;
//   }

/* Hide scrollbar for Chrome, Safari and Opera */

::-webkit-scrollbar {
    display: none;
  }
  
  .parentDiv {
    height: 80vh;
    overflow-y: auto;

    section {
        margin: 30px 0;
    }
}

h3 {
    color: $primary;
    font-weight: 500;
}

.rightLinks {
    list-style: none;
    padding: 0;
    margin: 50px 0 0 30px;

    li {
        color: #999;
        cursor: pointer;
        margin: 0;
        padding: 5px 0 5px 20px;
        border-left: solid 1px #ddd;

        &:hover,
        &.current-section {
            color: $primary;
            font-weight: 500;
            border-left: solid 1px $primary;
        }
    }
}

.section {
    background-color: #fff;
    border: 1px #ddd solid;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px 0 rgb(176 176 176 / 50%);
    border-radius: 4px;
}

.nextBtn {
    display: table;
    margin: 0 0 0 auto;
    border: 0;
    i {
        margin: 0 0 0 4px;
        font-size: 18px;
        vertical-align: middle;
    }
}

.accordion {
    .card {
        border: solid 1px #ddd;
        border-radius: 0;
        margin: 0 0 10px;
        border-bottom: 0;
    }

    .card-header {
        padding: 0;
    }

    .card-body {
        border: solid 1px #f5e1f0;
    }

    .btn-link {
        display: block;
        width: 100%;
        text-align: left;
        background: #fff;
        border-left: solid 1px $primary;
        color: #444;
        text-decoration: none;
        border-radius: 0;

        &:hover {
            background: #f9e7f3;
        }
    }
}

.customTable {
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid #f5e1f0;
        text-align: left;
        padding: 8px;
    }
      
    tr:nth-child(even) {
        background-color: #f5e1f0;
    }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background: none;
}

.mat-tab-label {
    padding: 0 !important;
    min-width: auto !important;
    font-weight: 300;
    color: #D6D6D6;

    // &:not(:first-child) {
    //     &:before {
    //         content: "";
    //         width: 100px;
    //         height: 1px;
    //         border-bottom: dashed 1px #ddd;
    //     }
    // }
}

.mat-tab-disabled {
    font-size: 20px;
    margin: 0 20px;
}

.mat-tab-header {
    border-bottom: 0;
}

.mat-tab-label-active {
    opacity: 1 !important;
    color: #892182;
    font-weight: 600;

    // &:after {
    //     content: "";
    //     border-bottom: solid 10px $primary;
    //     border-left: solid 10px transparent;
    //     border-right: solid 10px transparent;
    //     bottom: 0;
    //     position: absolute;
    // }
}

.inputWrap {
    display: flex;
    padding: 5px 20px 5px 10px;
    border: solid 1px #868686;
    align-items: center;
    margin: 0 0 20px;
    border-radius: 10px;
    
    label {
        white-space: nowrap;
        padding: 10px;
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
        color: #666;
    }

    .mat-datepicker-toggle {
        color: #666 !important;
    }

    .form-control {
        border: 0;

        &:active, &:focus {
            outline: 0;
            border-bottom: solid 1px #000;
            box-shadow: none;
            border-radius: 0;
        }
    }

    .mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
        color: #000;

        .mat-icon {
            img {
                margin: -24px 0 0;
            }
        }
    }
}

.otpFeild {
    display: flex;
    width: 200px;
    gap: 10px;
    margin: 0 0 30px;

    .form-control {
        font-size: 24px;
        line-height: 5px;
        margin: 0;
        padding: 0;
        text-align: center;
        height: 60px;
        border: solid 1px hsl(0deg 0% 44% / 51%)
    }
}

.btn-primary,
.btn-secondary {
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.btn-primary {
    min-width: 100px;
    background: $primary;
    border: 0;
    color: #fff;
    padding: 10px 30px;

    &:hover, &:active, &:focus, .active {
        background: $primary !important;
    }

    img {
        vertical-align: middle;
    }

    &.grey {
        color: $primary !important;
        background: #f3f7f9 !important;
    }

    &.green {
        color: #fff !important;
        background: #009C94 !important;
    }

    &.pink {
        color: #fff;
        background: $primary;
    }

    i {
        font-size: 13px;
        vertical-align: middle;
        margin: 0 5px 0 0;
    }
}

.btn-secondary {
    border: solid 1px $primary;
    color: $primary;
    background: transparent;

    &:hover, &:active, &:focus, .active {
        border: solid 1px $primary;
        color: $primary !important;
        background: transparent !important;
    }

    &.green {
        border: solid 1px #009C94;
        color: #009C94;
        background: #fff;

        &:hover, &:active, &:focus, .active {
            color: #fff;
            background: #009C94;
        }
    }
}

.greyText {
    color: #999;
}

.pinkText {
    color: $primary;
}

.pinklink {
    color: $primary;
    text-decoration: underline;
}

.greenLink {
    color: #009C94;
    text-decoration: underline;
    cursor: pointer;
}

.coloredLink {
    color: $primary;
    text-decoration: underline;
}

.pinkLabel {
    background: #f8e7f3;
}

.element-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 0 20px;
    font-size: 16px;

    &:after {
        content: "";
        background-color: $primary;
        width: 30px;
        height: 4px;
        border-radius: 0px;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0px;
    }
}

.exSmall {
    font-size: 10px;
}

.arrowBtn {
    border: solid 1px $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
    color: $primary;
    background: #fff;
}

.arrowIconWrap {
    background: $primary;
    padding: 6px 10px;
    font-size: 22px;
    margin: 0 0 0 20px;

    i {
        color: #fff;
    }
}

.breadcrumb {
    background: none;
    margin: 10px 0 0;

    i {
        color: $primary;
        font-size: 20px;
        margin: 0 10px 0 0;
    }
}

.borderBottomPink {
    border-bottom: solid 1px $primary;
}

.borderLeft-pink {
    border-left: solid 1px #f8e7f3;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    background: none;
}

.mat-horizontal-content-container {
    position: relative;
    background: #fff;
    padding: 40px 20px !important;
}


.labelWrap {
    border: solid 1px #f9e7f4;
    padding: 1px;
  }
  .labelWrap label {
    background: #f9e7f4;
    padding: 6px 15px;
    margin: 0 10px 0 0;
    white-space: nowrap;
  }
  .labelWrap .mat-form-field-wrapper {
    padding: 0;
  }
  .labelWrap .mat-form-field-infix {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
  }
  .labelWrap .mat-select-value {
    border: 0;
    padding: 6px 0 0 0;
    text-align: center;
  }
  .labelWrap .mat-form-field-underline {
    display: none;
  }
  .labelWrap .mat-select-arrow-wrapper {
    position: relative;
    top: 4px;
  }

  .cdk-overlay-pane {
      margin-top: 40px;
  }

  .serchIcon {
      margin: 5px 0 0;
  }

.sideBarHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: $primary;
    margin: 10px 0 40px;

    i {
        font-size: 26px;
    }
}

.matStepperPrevious {
    font-size: 28px;
    margin: 0 0 0 -19px;
    position: absolute;
    top: 0;
    background: none;
    border: 0;
    color: $primary;
}

.consultationBtnsWrap {
    .btn {
        font-size: 12px;
    }
}

.okBtn {
    min-width: auto;
}

.mat-checkbox-label {
    white-space: initial;
}

.mat-drawer-container {
    background: none;
}

.bannerBox_heading {
    position: relative;
    font-size: 24px;
    color: #444;
    margin: 0 0 30px;
}

.searchBtn {
    position: absolute;
    right: 20px;
    top: 14px;
    background: no-repeat;
    border: 0;
    color: $primary;
    font-size: 22px;
}


.commonIconsWrap {
    gap: 30px 0;
}
.commonIcons {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.2s ease;
    overflow: hidden;

    input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    label {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        width: 100%;
        cursor: pointer;
        max-width: 250px;
        min-height: 220px;
        background: #fff;
    }

    input[type="radio"]:checked + label {
    }

    input[type="radio"]:focus + label,
    label:hover, label.active {
        border: solid 2px $primary;
        background: rgba($primary, .2);

        img {
            filter: inherit !important;
        }
    }    
    
    figure {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 80%;
            filter: grayscale(1);
        }
    }

    figcaption {
        font-size: 18px;
    }

    &:hover {
        svg path {
            fill: $primary;
        }
    }
}

.practitionerThumb {
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all ease .2s;
    color: #444;

    h3 {
        font-weight: 600;
        color: #444;
    }

    p {
        margin: 0 0 6px;
    }

    figure {
        height: 150px;
        width: 150px;
        margin: 0 20px 0 0;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .miles {
        font-weight: bold;
    }

    input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    label {
        height: 100%;
        margin: 0;
        width: 100%;
        cursor: pointer;
        display: flex;
        border: solid 2px transparent;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 20px 0;
    }

    input[type="radio"]:checked + label {
    }

    input[type="radio"]:focus + label,
    label:hover, label.active {
        border: solid 2px $primary;
    }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: $primary;
}