<div class="mb-3">
    <p class="label">PRACTITIONER</p>
    <p>Dr. Sarah Jones</p>
</div>

<div class="mb-3">
    <p class="label">SPECIALTY</p>
    <p>cardiology</p>
</div>

<div class="mb-3">
    <p class="label">TREATMENT LOCATION</p>
    <p>Abbey Park HospitalLocal care, Central London</p>
</div>

<div class="mb-3">
    <p class="label">AVAILABLE SLOTS</p>
    <div class="pl-3">
        <p>12-June-2021 (Friday)</p>
        <div class="consultationBtnsWrap mb-5">
            <div class="d-flex mb-2">
              <button class="btn btn-secondary mr-2">10-30 AM –11:00 AM</button>
              <button class="btn btn-primary okBtn">OK <i class="fa fa-check"></i></button>
            </div>
            <div class="d-flex mb-2">
              <button class="btn btn-secondary mr-2">10-30 AM –11:00 AM</button>
              <button class="btn btn-primary okBtn">OK <i class="fa fa-check"></i></button>
            </div>
            <div class="d-flex mb-2">
              <button class="btn btn-secondary mr-2">10-30 AM –11:00 AM</button>
              <button class="btn btn-primary okBtn">OK <i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
    <div class="pl-3">
        <p>15-June-2021 (Monday)</p>
        <div class="consultationBtnsWrap mb-5">
            <div class="d-flex mb-2">
              <button class="btn btn-secondary mr-2">10-30 AM –11:00 AM</button>
              <button class="btn btn-primary okBtn">OK <i class="fa fa-check"></i></button>
            </div>
            <div class="d-flex mb-2">
              <button class="btn btn-secondary mr-2">10-30 AM –11:00 AM</button>
              <button class="btn btn-primary okBtn">OK <i class="fa fa-check"></i></button>
            </div>
            <div class="d-flex mb-2">
              <button class="btn btn-secondary mr-2">10-30 AM –11:00 AM</button>
              <button class="btn btn-primary okBtn">OK <i class="fa fa-check"></i></button>
            </div>
        </div>
    </div>
</div>